@model MyProject.Models.Mark

@{
    ViewData["Title"] = "Delete";
}

<h1></h1>

<h3>Вы правда хотите удалить марку? </h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm" /> |
        <a asp-action="Index"><button type="button" class="btn btn-outline-dark btn-sm">Вернуться</button></a>
    </form>
</div>
