@model MyProject.Models.Mark

@{
    ViewData["Title"] = "Details";
}

<h1>Информация о выбраной марке</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NominalValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NominalValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Features)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Features)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><button type="button" class="btn btn-outline-success btn-sm">Редактировать</button></a> |
    <a asp-action="Index"><button type="button" class="btn btn-outline-dark btn-sm">Вернуться</button></a>
</div>
