@model IEnumerable<MyProject.Models.Mark>

@{
    ViewData["Title"] = "Index";
}

<h1>Справочник Филателиста</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-outline-primary btn-sm">Добавить марку</button></a>
</p>
<form asp-controller="Marks" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <button type="submit" class="btn btn-outline-primary btn-sm">Фильтр</button>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Name), "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Country), "Index", new { sortOrder = ViewBag.CountrySortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.NominalValue), "Index", new { sortOrder = ViewBag.NominalValueSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Year), "Index", new { sortOrder = ViewBag.YearSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Count), "Index", new { sortOrder = ViewBag.CountSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Features), "Index", new { sortOrder = ViewBag.FeaturesSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NominalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Features)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-success btn-sm">Редактировать</button></a>
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-info btn-sm">Детали</button></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-danger btn-sm">Удалить</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
