@model IEnumerable<PhilatelistOnMVC.Models.Philatelist>

@{
    ViewData["Title"] = "Index";
}

<h1>Список филателистов</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-outline-primary btn-sm">Добавить филателиста</button></a>
</p>
<form asp-controller="Philatelists" asp-action="Index">
    <p>
        <input type="text" name="SearchString">
        <button type="submit" class="btn btn-outline-primary btn-sm">Поиск</button>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Name), "Index", new { sortOrder = ViewBag.Name1SortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Country), "Index", new { sortOrder = ViewBag.Country1SortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.ContactCoordinates), "Index", new { sortOrder = ViewBag.ContactCoordinatesSortParm })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.Availability), "Index", new { sortOrder = ViewBag.AvailabilitySortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactCoordinates)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-success btn-sm">Редактировать</button></a>
                <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-info btn-sm">Детали</button></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-danger btn-sm">Удалить</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
